#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
	background: #9ace60;
    color: #fff;
    padding: 5px 15px;
    border: none;
    font-weight: 700;
}

.content {
	display: flex;
	text-align: left;
	gap: 3em;
	justify-content: space-around;
}

.content < div {
	width: 50%;
}
